 .display-todo {
     display: flex;
     flex-direction: column;
     width: 50%;
     padding: 1em;
     box-sizing: border-box;
 }

 .todo {
     padding: 0.5em 1em;
     border: thin solid #f7882f;
     margin: 0.4em 0;
     border-radius: 6px;
     display: flex;
     align-items: center;
     transition: all 1s;
 }

 .todo--checked {
     filter: blur(1px);
 }

 .todo:hover {
    background-color: #f7882f;
 }

 .todo:hover .todo-check, .todo:hover .todo-text, .todo:hover .todo-delete {
     color: #f8ffff;
 }

 .todo-check {
     color: #f7882f;
     font-size: 1.5em;
     cursor: pointer;
 }

 .todo-text {
     color: #6b7a8f;
     font-size: 2em;
     margin-left: 0.25em;
 }

 .todo-text--completed {
     text-decoration: line-through;
 }

 .todo-delete {
     color: #f7882f;
     font-size: 1.5em;
     margin-left: auto;
     cursor: pointer;
 }

 .search-todo {
     width: 25%;
 }