<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/animations.css">
    <link rel="stylesheet" href="./font-awesome/css/all.css">
    <title>AngularJS Tutorials</title>
</head>

<body ng-app="todoList">

    <header>
        <h1>My Todo List</h1>
    </header>

    <main ng-controller="todoController">

        <section class="add-todo">
            <input type="text" placeholder="your todo here..." ng-model="todoItem" name="todo-input"
                class="add-todo-input input">
            <button ng-click="addItem()">Add</button>
        </section>

        <section class="display-todo">
            <input ng-show="todoList.length > 5" type="text" placeholder="search" ng-model="search" name="todo-input"
                class="search-todo input">

            <div ng-repeat="todo in todoList | filter: search | orderBy: 'text' " class="todo"
                ng-class="{ 'todo--checked': todo.isChecked, 'move-out--left': todo.isDeleted }">
                <i ng-click="checkItem($index)" class="fa fa-check-square todo-check"></i>
                <span class="todo-text" ng-class="{ 'todo-text--completed': todo.isChecked }">{{ todo.text | uppercase }}</span>
                <i ng-click="deleteItem($index)" class="fa fa-minus-circle todo-delete"></i>
            </div>

        </section>

    </main>

    <footer ng-controller="dateController">
        &copy; TY BCA, {{ getYear() }}
    </footer>

    <script src="./todo.js"></script>

    <script src="./services/data-service.js"></script>

    <script src="./controllers/todo-controller.js"></script>
    <script src="./controllers/date-controller.js"></script>
</body>

</html>